{% extends "app1/base.html" %}
<form method= "POST">
{% block content %}

<table class="table table-success table-striped">
    <tr>
        <th>Roll No</th>
        <th>Name</th>
        <th>Python</th>
        <th>HTML</th>
        <th>JavaScript</th>
        <th>Operation</th>
    </tr>
    </tr>
    {% for stud in marks_data %}
    <tr>
        <td>{{stud.rollno}}</td>
        <td>{{stud.name}}</td>
        <td>{{stud.python}}</td>
        <td>{{stud.html}}</td>
        <td>{{stud.javascript}}</td>
        <td><a class="btn btn-primary" href="{% url "edit" stud.id %}">Edit</a>&nbsp;<a class="btn btn-primary" href="{% url "delete" stud.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</form>
