{% extends "app1/index.html" %}
{% block content %}
<table class="table table-dark table-striped">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Date of Mfg</th>
        <th>Price</th>
        <th>Operation</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{product.prodid}}</td>
        <td>{{product.prodname}}</td>
        <td>{{product.dateofmfg}}</td>
        <td>{{product.price}}</td>
        <td><a href="{% url "delete" product.id %}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
